<h2><%= @user.name %></h2>
<%= render 'friendships/friend_request' , user: @user %>
<h4>Posts</h4>
<% @posts.each do |post| %>
  <p><%= post.body %></p>
  <p><em><%= post.updated_at %></em></p>
  <hr>
<% end %>
