@import 'reset';
@import "bootstrap-sprockets";
@import "bootstrap";

// Color scheme
$grey: rgb(117, 117, 117);
$light-bg: #eee;
$sans: sans-serif;
$type-size: 14px;
h2 { font-size: 24px; }
.container{
  max-width:1000px;
  margin:0 auto;
}
body{
  margin:0;
  padding:0;
  font-family: $sans;
  font-size: $type-size;
}
a{
  color:black;
}
header{
  background:white;
  border-bottom:1px solid black;
  padding:20px 0;
  position: fixed;
  width:100%;
  nav{
    a{
      margin-right:20px;

    }
    a.current{
      color:red;
    }
    a:hover{
      color: $grey;
    }

    .right{
      float:right;
    }
  }

}

main{
  padding-top:100px;
}

.user-form {
  border: 1px solid black;
  border-radius: 10px;
  padding: 30px;
  background-color: $light-bg;
  margin: 20px 0;
  display: inline-block;
  h2 {
    font-weight: bold;
  }
  .field {
    margin: 16px 0;
  }
  a{
    display: inline-block;
    margin: 10px 0;
    font-size: 16px;
  }
  input[type="submit" i]{
    
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  width: 30px;
}